We can write text over here

# Python foundations

In [ ]:
# Python foundations

## Common Data Types

#### Single Elements
- Integer - whole number, 1,2,3 ,575
- Float - decimal 2.8, 1.65, 3.141
- String - 'letters' text
#### Collections
- list: sequence of single elements or collections
- set: is an unordered and unindexed collection 
- Tuple: like a list but cannot be changed 
- Dictionary: unordered collection of key-value pairs

# Variables

A name that has been assigned a values

In [3]:
print('hello')

hello

In [9]:
type(1)

int

In [10]:
# Assign a float
x = 1.0
type(x)

In [12]:
# Assing a integer
y = 1
type(y)

int

In [13]:
#another example
z = '1'
type(z)

str

# Operators
Operators can be used in mathematical sense to create sums, differences, products...

In [19]:
#Addition operator
print(1 + 2)
# Substraction
print(1 - 2)
# Multiplicatoin
print(1 * 2)
# Division:
print( 1 / 2)

3
-1
2
0.5

In [21]:
# rounded=down number
print(3//2)

1

In [23]:
# Exponent power operator
print(2 ** 3)

8

In [24]:
# modulo operator 
print(5 % 2)

1

# Booleans and Boolean operators
True or False

In [26]:
True

True

In [27]:
False

False

In [30]:
False and True

False

In [33]:
1 == 1 and 1==2

False

In [34]:
True or False

True

In [35]:
1 == 1 or 1==2

True

In [36]:
not False

True

In [37]:
not True

False


- and
- or
- not

# Strings
What are strings ? 
How would you use them ? Some examples ? 

- Misspelled words
- upper case lower case 
- look for specific words

In [39]:
s = 'hello world'
print(s)

hello world

In [40]:
type(s)

str

In [41]:
len(s)

11

In [42]:
s2 = s.replace('world', 'Harry')
print(s2)

hello Harry

### String Indexing
Part of the string

In [43]:
s2

'hello Harry'

In [48]:
s2[0]

'h'

In [53]:
#Splicing 
s2[0:4]

'hell'

In [57]:
s2[6:]

'Harry'

In [59]:
s2[-1]

'y'

In [60]:
s2[-2]

'r'

In [61]:
s2

'hello Harry'

In [ ]:
s2[start : ending : step ]

In [63]:
s2

'hello Harry'

In [66]:
s2[0:10:3]

'hlHr'

### Concatenate

In [68]:
x = 'hello'
y = 'world'

In [69]:
print(x)

hello

In [70]:
print(y)

world

In [71]:
x + y

'helloworld'

In [73]:
# Conversion from int to str

dice_roll = 3
print('You rolled a ' + str(dice_roll))

You rolled a 3

In [74]:
print(f'You rolled a {dice_roll}')

You rolled a 3

In [75]:
string = 'thiscanbewhateveryouwant'

len(string)

24

In [77]:
# replace every vowel in a string with the word 'vowel'

vowels = ['a','e','i','o','u']

for letter in string:
    if letter in vowels:
        string = string.replace(letter,'vowel')
        
print(string)

thvvowelwvvowelwvvowelwvvowelwellllscvvowelwvvowelwvvowelwvvowelwellllnbvvowelwvvowelwvvowelwelllwhvvowelwvvowelwvvowelwvvowelwelllltvvowelwvvowelwvvowelwelllvvvowelwvvowelwvvowelwelllryvowelvowelwvvowelwvvowelwvvowelwvvowelwellllnt

# Lists

In [1]:
l = [1,2,3,4]

In [2]:
type(l)

list

In [4]:
print(l)

[1, 2, 3, 4]

In [5]:
# List of strings, names
names = ['Joyce','Faheem','Ryan','Hannah']

In [6]:
print(names)

['Joyce', 'Faheem', 'Ryan', 'Hannah']

In [7]:
names.append('Steve')

In [8]:
print(names)

['Joyce', 'Faheem', 'Ryan', 'Hannah', 'Steve']

In [24]:
# Lists can be indexed
names[0]

'Joyce'

In [26]:
#Lists don't have to be the same type
l = [1,'a',1.0,[1,2,3,4]]

In [27]:
print(l)

[1, 'a', 1.0, [1, 2, 3, 4]]

In [31]:
#We can create a list of values using the range function

In [ ]:
range()

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
start = 10
stop = 30
step = 2
list(range(start, stop,step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [37]:
#Let's create a list from scratch
l = []

#Add elemetnts
l.append('A')
l.append('d')
l.append('d')

print(l)

['A', 'd', 'd']

In [39]:
#Reassing a range of values with another list
l[1:3]

['d', 'd']

In [45]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
list1 = l

In [48]:
print(list1)

['A', 'd', 'd']

In [50]:
list1[1:3] = ['b','c']
print(list1)

['A', 'b', 'c']

In [51]:
# Insert method

In [52]:
names

['Joyce', 'Faheem', 'Ryan', 'Hannah', 'Steve']

In [53]:
names.insert(0, 'Alejandro')

In [54]:
print(names)

['Alejandro', 'Joyce', 'Faheem', 'Ryan', 'Hannah', 'Steve']

In [55]:
names.insert(1,'Abdul')

In [56]:
names

['Alejandro', 'Abdul', 'Joyce', 'Faheem', 'Ryan', 'Hannah', 'Steve']

In [57]:
#What about remove ? 
names.remove('Ryan')
print(names)

['Alejandro', 'Abdul', 'Joyce', 'Faheem', 'Hannah', 'Steve']

In [65]:
names.insert(1,'Ryan')

In [67]:
names.remove('Ryan')

In [68]:
names

['Alejandro',
 'Ryan',
 'Ryan',
 'Ryan',
 'Ryan',
 'Ryan',
 'Ryan',
 'Ryan',
 'Abdul',
 'Joyce',
 'Faheem',
 'Hannah',
 'Steve']

In [70]:
del names[0]
print(names)

['Ryan', 'Ryan', 'Ryan', 'Ryan', 'Ryan', 'Ryan', 'Abdul', 'Joyce', 'Faheem', 'Hannah', 'Steve']

In [71]:
del names[0:6]

In [72]:
print(names)

['Abdul', 'Joyce', 'Faheem', 'Hannah', 'Steve']

In [81]:
names.insert(0,'Ryan')

In [93]:
list(set(names))

['Hannah', 'Faheem', 'Abdul', 'Ryan', 'Joyce', 'Steve']

In [88]:
list2

['Hannah', 'Faheem', 'Abdul', 'Ryan', 'Joyce', 'Steve']

In [94]:
#Let's look up why a set changes the order of a list and a list change the order of a set

A: Python does whatever it wants in that case

# Tuples
Tuples are similar to lists however they are not mutable which means their values cannot be changed

In [95]:
point = (10, 20)

In [98]:
point[0]

10

In [109]:
# Unpacking of a tuple
x , y= point

print(f'X has the value of {x}')
print(f'y has the value of {y}')

X has the value of 10
y has the value of 20

In [102]:
print('x is has the value of 10')
print('y has the value of 20')

x is has the value of 10
y has the value of 20

# Dictionaries

Dictionaries are... non-ordered data types and instead of using an index they use of a system of key-value pairs

In [122]:
parameters = {'key1': 1.0,
              'key2': 2.0,
              'key3': 3.0
             }

In [123]:
parameters

{'key1': 1.0, 'key2': 2.0, 'key3': 3.0}

In [129]:
skanska = {'Julian': ['julian@skanksa.co.uk','01535331251','250%'],
          'Nils': ['nils@skanksa.co.uk','214125124','100%']}

In [130]:
# Value form parameter 2

parameters['key2']

2.0

In [133]:
# Adding a new dictionary entry
parameters['key4'] = 4.0

In [134]:
parameters

{'key1': 1.0, 'key2': 2.0, 'key3': 3.0, 'key4': 4.0}

In [135]:
# Reassign the value of a key-value pair 
parameters['key1'] = 'A'
parameters['key2'] = 'B'

In [136]:
print(parameters)

{'key1': 'A', 'key2': 'B', 'key3': 3.0, 'key4': 4.0}

In [143]:
skanska['Julian'][2] = '100%'

In [145]:
skanska

{'Julian': ['julian@skanksa.co.uk', '01535331251', '100%'],
 'Nils': ['nils@skanksa.co.uk', '214125124', '100%']}

In [147]:
print(val)

251252

In [150]:
#delete a key-value pair completelely
del parameters['key2']

KeyError: 'key2'

In [152]:
# Methods
list(parameters.items())

[('key1', 'A'), ('key3', 3.0), ('key4', 4.0)]

In [154]:
parameters.keys()

dict_keys(['key1', 'key3', 'key4'])

In [155]:
parameters.values()

dict_values(['A', 3.0, 4.0])

# Importing packages

In [157]:
import math

In [160]:
math.pi

3.141592653589793

In [163]:
from math import *

In [164]:
pi

3.141592653589793

# Let's practice

### What is the difference between a "mutable" and an "immutable" object?

In [ ]:
# A: The difference is ....

In [172]:
student_names = ['Jamie','Oliver','Josh','Ryan','Rob','Eli','Shubi','Jon','Joyce','Julian','Phil']

### 4) Print the names of the first and last students on the list.

In [173]:
# A: 
print(student_names[0])
print(student_names[-1])

Jamie
Phil

### 5) Print the first five names in the `student_names` list.

In [174]:
#A:
print(student_names[0:5])

['Jamie', 'Oliver', 'Josh', 'Ryan', 'Rob']

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.m

In [179]:
#A:
m = student_names[8] + ' ' + student_names[9]
m

'Joyce Julian'

### 7) Append an animal to the list of animals.

In [195]:
animals = ['duck','rat','boar','slug','mamoth','gazelle']

In [180]:
#A:
animals.append('cat')

### 8) Print the length of the `animals` list.

In [181]:
#A:
len(animals)

7

### 9) Divide the length of the fifth animal by the second.

In [183]:
#A:
len(animals[4])/len(animals[1])

2.0

### 10) Perform the same division, but ensure the output is a decimal number.

In [184]:
#A: 
float(len(animals[4])/len(animals[1]))

2.0

### 11) Demonstrate two different ways to combine the `animals` list

In [186]:
#A:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [192]:
aninum = numbers + animals
print(aninum)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mamoth', 'gazelle', 'cat']

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [196]:
#A:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

names.remove('kiefer')
names.insert(2,'Joyce')

### 13) Try to sort the following list using `.sort()`. What happens?

In [187]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [197]:
#A:
mix.sort()

TypeError: '<' not supported between instances of 'dict' and 'list'

We cannot sort a list with different data types

### 14) Manually check whether or not one element of `mix` is greater than another

In [198]:
#A:
mix[0]>mix[1]

TypeError: '>' not supported between instances of 'list' and 'dict'

In [199]:
mix[2] > mix[3]

True

### 15) Find the index of `'a'` in the list.

In [200]:
#A:
mix.index('a')

5

### 16) Reverse the `mix` list.

In [201]:
mix.reverse()

In [202]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

### 17) Remove the last element of `mix`  and assign it to a variable.

In [203]:
new_item = mix.pop()

### 18) Count the number of times `0` appears in the following list.

In [205]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [206]:
binary.count(0)

16

### 19) Create an SF (San Francisco) zip code dictionary.
With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [212]:
sf = {'sunset':94122,
     'presidio':94129,
    'soma':94105,
    'marina':94123
     }

### 20) Get the zip code for `'soma'` and assign it to a variable

In [213]:
soma_zip = sf['soma']
print(soma_zip)

94105

### 21) Get the keys out of the dictionary.

In [214]:
#A:
sf.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

### 22) Get the key-value pairs out of the dictionary as a list of tuples.

In [216]:
#A:
list(sf.items())

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

### 23) Add The Castro to the dictionary with the zip code 94114.

In [217]:
#A:
sf['Castro'] = 94114

In [218]:
sf

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'Castro': 94114}

### 24) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [190]:
#A:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [219]:
# One way with kwargs
sf2 = dict(sf,**small)

In [223]:
#Second way with methods
sf.update(small)

### 25) Remove the `'sunset'` zip code and assign it to a variable.

In [224]:
#A:
var = sf.pop('sunset')

In [225]:
var

94122

### 26) Check if the `'dogpatch'` is in the dictionary.

In [226]:
#A:
'dogpatch' in sf

True

# Control Flow
In python indendation matters

In [2]:
if 1==1:
    print('The integer 1 is equal to the integer 1')
    print('Is this line going to be executed? ')

The integer 1 is equal to the integer 1
Is this line going to be executed?

In [3]:
if 'one'=='two':
    print('The string one is equal to the string two')

print(' Will this be executed ? ')

 Will this be executed ?

In [5]:
if 50<30:
    print('50 <30')
else:
    print('50 > 30 ')

print('----')
print('These two lines are not indented, will they run? ')

50 > 30
----
These two lines are not indented, will they run?

In [7]:
health = 39

if health > 70:
    print('You are in great health!')
elif health > 40:
    print('Your health is average')
else:
    print('Your health is low, go to the doctor')

print('---')
print('What will be executed ?')

Your health is low, go to the doctor
---
What will be executed ?

In [8]:
var = input('Give me a variable')

Give me a variable50

In [9]:
print(var)

50

### 1) Write an `ifâ€¦ else` statement to check whether or not the suitcase weighs more than 50 pounds.

In [6]:
#A:
suitcase = float(input('How many pounds does your suitcase weigh?'))

How many pounds does your suitcase weigh?70

In [7]:
suitcase

70.0

In [8]:
if suitcase > 50:
    print('Your suitcase is heavier than 50 pounds')
else:
    print('Your suticase is lower than 50 pounds')

Your suitcase is heavier than 50 pounds

### 2) Write an `ifâ€¦ else` statement for multiple conditions.

Print out these recommendations based on the weather conditions:

- 1) The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
- 2) The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
- 3) The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
- 4) The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [11]:
#A:

temperature = float(input('What is the temperature?'))
rain = input('Is it raining? ')

What is the temperature?59
Is it raining?yes

In [12]:
if temperature > 60 and rain=='Yes':
    print('Bring and umbrella')
elif temperature <= 60 and rain =='Yes':
    print('Bring and umbrella and a jacket')
elif temperature > 60 and rain == 'No':
    print('Wear a T-Shirt')
else:
    print('Bring a jacket')

Bring a jacket

# Section 2: For loops

In [22]:
names = ['Abdul','Nils','Jamie','Faheem','Shubi']

In [17]:
print(names[0] + ' ' +'is awesome')
print(names[1] + ' ' +'is awesome')
print(names[2] + ' ' +'is awesome')

Abdul is awesome
Nils is awesome
Jamie is awesome

In [26]:
for name in names:
    print(f'{name} is awesome')

Abdul is awesome
Nils is awesome
Jamie is awesome
Faheem is awesome
Shubi is awesome

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
for i in range(1, 6, 2):
    print(i)

1
3
5

In [39]:
for i in range(len("Don't")):
    print('random_word')

random_word
random_word
random_word
random_word
random_word

### 3) Write a `for` loop that iterates from number 1 to number 15.

In [40]:
for i in range(1, 15+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

### 4) Iterate from 1 to 15, printing whether the number is odd or even.
Hint: You can use the modulo operator '%'
The remainder of an even number divided by 2 is 0

In [50]:
for i in range(1,16):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

### 5) Iterate from 1 to 30 using the following instructions:

- 1) If a number is divisible by 3, print "fizz."
- 2) If a number is divisible by 5, print "buzz." 
- 3) If a number is both divisible by 3 and by 5, print "fizzbuzz."
- 4) Otherwise, print just the number.

In [47]:
for i in range(1,31):
    if i % 15 == 0:
        print(f'{i} fizzbuzz')
    elif i % 3 == 0:
        print(f'{i} fizz')
    elif i % 5 == 0:
        print(f'{i} buzz')
    else:
        print(i)

1
2
3 fizz
4
5 buzz
6 fizz
7
8
9 fizz
10 buzz
11
12 fizz
13
14
15 fizzbuzz
16
17
18 fizz
19
20 buzz
21 fizz
22
23
24 fizz
25 buzz
26
27 fizz
28
29
30 fizzbuzz

### 6) Iterate through the following list of animals and print each one in all caps.

In [2]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [4]:
for animal in animals:
    print(animal.upper())

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

### 7) Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

title() , where words contain apostrophes, the letter after the apostrophe will be capitalised. str. title() capitalises every word of a sentence, whereas str. capitalize() capitalises just the first word of the entire string

In [6]:
mod_animals = []

for animal in animals: 
    mod_animals.append(animal.title())
    print(mod_animals)

['Duck']
['Duck', 'Rat']
['Duck', 'Rat', 'Boar']
['Duck', 'Rat', 'Boar', 'Slug']
['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth']
['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']


### 8) Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [12]:
vowels = 'aeiou'

for animal in animals:
    counter = 0
    for letter in animal:
        if letter in vowels:
            counter += 1
    print(f'{animal} has {counter} vowel(s)')

duck has 1 vowel(s)
rat has 1 vowel(s)
boar has 2 vowel(s)
slug has 1 vowel(s)
mammoth has 2 vowel(s)
gazelle has 3 vowel(s)

# Try/ Except

A way of bypassing errors.

In [13]:
1 / 0

ZeroDivisionError: division by zero

In [17]:
try: 
    1 / 0
except:
    print('You are divinding by zero mate')

You are divinding by zero mate

In [21]:
num_list = [1,2,3,5,0]

for num in num_list:
    try:
        print(1/ num)
    except:
        print('Divide by zero')

print('Programm keeps executing')

1.0
0.5
0.3333333333333333
0.2
Divide by zero
Programm keeps executing

# Functions

In [ ]:
# Define the function name and the requirements it needs():
    #Perform actions
    #Do some steps
    #Optional: Return an output

In [26]:
def arithmetic(number1, number2):
    '''
    This function add, subtracts, multiplies and divides number 1 and number 2
    '''
    
    print(number1 + number2)
    print(number1 - number2)
    print(number1 * number2)
    print(number1 / number2)

In [25]:
arithmetic(3, 5)

8
-2
15
0.6

In [27]:
# Function that square a number and then add 5 

def square_add_five(number):
    
    output = number ** 2 + 5
    return output

In [29]:
square_add_five(5)

In [35]:
# Loop through a range of numbers (0,6) and apply that 

for i in range(0,6):
    print(f'{i} squared and added 5 is {square_add_five(i)}')

0 squared and added 5 is 5
1 squared and added 5 is 6
2 squared and added 5 is 9
3 squared and added 5 is 14
4 squared and added 5 is 21
5 squared and added 5 is 30

### 10) Write a function that takes a word as an argument and returns the number of vowels in the word.

In [37]:
def vowel_counter(word):
    '''This function takes a word as and 
    argument and counts the number vowels'''
    
    counter = 0 
    
    for letter in word:
        if letter in 'aeiouAEOIU':
            counter +=1
    print(f'The number of vowels in {word} is {counter}')
    return counter

In [40]:
vowel_counter('a different')

The number of vowels in a different is 4

4

### 11) Write a function to calculate the area of a triangle using a height and width.
the area of a triangle is (height * width)/2

In [43]:
def triangle_area(height, width):
    ''' This function takes in height and 
    width and returns the area of the triangle'''
    
    area = 0.5 * height * width
    return area

In [44]:
triangle_area(4,5)

10.0

# While loops

### 12) Use `while` loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [36]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"